{% extends "layout.html" %}
{% block content %}
    <h1>{{message}}</h1><br>
    <div class="container">
        <div class="float-left">
            <h1>Customer</h1>
            <a href="{{ url_for('customer_options')}}"><img src="static/user.png" class="img-rounded"></a>
        </div>

        <div class="float-right">
            <h1>Manager</h1>
            <a href="{{ url_for('manager_login')}}"><img src="static/admin.png" class="img-rounded"></a>
        </div>
    </div>
{% endblock content %}
